.avatar-display {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  background: var(--bg-light);
  flex-shrink: 0;
}

.avatar-display img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar-display svg {
  width: 100%;
  height: 100%;
  padding: 20%;
  color: var(--text-medium);
}

/* Size variants */
.avatar-small {
  width: 32px;
  height: 32px;
}

.avatar-medium {
  width: 40px;
  height: 40px;
}

.avatar-large {
  width: 64px;
  height: 64px;
}

.avatar-xlarge {
  width: 96px;
  height: 96px;
}



